div.education__shool {
  margin-top: 1em;
  display: flex;
  justify-content: space-between;

  div.school-name {
    text-wrap: wrap;
    word-wrap: break-word;
    font: var(--font-size-desktop) bold;
    font-weight: bold;
  }
  div.time-study-in-school {
    font: var(--font-size-desktop) bold;
    font-weight: bold;
  }
}

div.education__content {
  margin-top: 1em;
  font: var(--font-size-desktop);

  div.major {
    margin-bottom: 1em;
  }
}
