.container {
  .flex {
    @media screen and (min-width: 480px) {
      display: flex;
      justify-content: space-between;
      gap: 1rem;
    }

    .company {
      font-size: 1rem;
      font-weight: 500;

      &::selection {
        background-color: var(--grid-header-border-bottom-color);
      }
    }

    .work-time {
      word-wrap: break-word;
      white-space: pre-wrap;
    }
  }

  .project {
    /* Your styles here */
    .project-name {
      font-style: italic;
    }
    ul {
      padding-left: 1rem;

      li {
        list-style: disc inside;
        &.tech {
          font-style: italic;
        }
        &.result {
          text-decoration: italic;
        }
        a.github,
        a.demo {
          color: var(--color-link-default);

          &:hover {
            color: var(--primary-btn--hover-background-color);
          }
        }
      }
    }
  }
}
