.item-project {
  .flex {
    @media screen and (min-width: 480px) {
      display: flex;
      justify-content: space-between;
      gap: 1rem;
    }

    .item-project__name {
      font-size: 1rem;
      font-weight: 600;

      &::selection {
        background-color: var(--grid-header-border-bottom-color);
      }
    }

    .item-project__time {
      word-wrap: break-word;
      white-space: pre-wrap;
    }
  }

  &__position {
    word-wrap: break-word;
    white-space: pre-wrap;
  }

  &__content {
    /* Your styles here */
    .content {
      // border: solid 1px red;
      padding-left: 1rem;
      .item-content {
        list-style: disc inside;
      }
      .main-task {
        padding-left: 2rem;
        // border: solid 1px black;
        .item-task {
          list-style: circle inside;
        }
      }
    }
  }

  .github,
  .demo {
    a {
      color: var(--color-link-default);

      &:hover {
        color: var(--primary-btn--hover-background-color);
      }
    }
  }
}
