div.personal-info-row {
  display: flex;
  // flex-wrap: nowrap;

  span.personal-info-icon {
    margin-right: 1em;

    i.icon {
      color: var(--color-title-default);
      width: 24px;
      height: 24px;
      display: grid;
      place-items: center;
    }
  }

  span.personal-info-text {
    color: var(--white);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    a {
      color: var(--white);
      text-decoration: none;
    }
  }
}
