.item-skill {
  // border: solid 1px red;
  width: 100%;

  @media screen and (min-width: 600px) {
    width: calc((100% - 2rem) / 3); // 3 cột trong 1 dòng
  }

  .item-skill__title {
    font-size: 1rem;
    font-weight: 600;

    &::selection {
      background-color: var(--grid-header-border-bottom-color);
    }
  }

  .item-skill__content {
    // border: solid 1px red;
    word-wrap: break-word;
    white-space: pre-wrap;
  }
}
