div.main-container {
  width: calc(
    100% - var(--title-list-padding-top) - var(--title-list-padding-top)
  );
  height: calc(
    100vh - var(--title-list-padding-top) - var(--title-list-padding-top) -
      var(--height-header)
  );
  margin: var(--title-list-padding-top); /* 24px */
  background: var(--bg-color-header);
  box-shadow: 5px 4px 10px #5379c4;
  border-radius: var(--border-radius-default);
}
