div.career-goals {
  width: 100%;

  div.career-goals__title {
    color: var(--color-title-default);
    font: var(--font-size-title) bold;
    font-weight: bold;
  }

  div.career-goals__content {
    margin-top: 1em;
    font: var(--font-size-desktop);
  }
}
